@media(max-width:575.98px) {
    .main{
        height: 60px;
    }
    .lang {
        display: none;
        margin-top: 30px
    }
    .lang ul li {
        width: 100%;
        text-align: left;
        background-color: #fff;
        margin-right: 0;
        padding-left: 15px
    }
    .lang ul li a {
        color: #000
    }
    .footer-sec li{
        font-size: 12px;
    }
    .footer-sec li a{
        font-size: 12px;
        line-height: 18px;
    }
    .footer-sec li i{
        margin-right: 10px;
        font-size: 15px;
    }
    .footer-sec p{
        font-size: 14px;
    }
    .logo{
        width: 120px;
    }
    .footer-copyright p{
        font-size: 12px;
    }
}

@media (min-width:576px) and (max-width:767px){
    .main{
        height: 60px;
    }
    .lang {
        display: none;
        margin-top: 30px
    }
    .lang ul li {
        width: 100%;
        text-align: left;
        background-color: #fff;
        margin-right: 0;
        padding-left: 15px
    }
    .lang ul li a {
        color: #000
    }
    .footer-sec li{
        font-size: 12px;
    }
    .footer-sec li a{
        font-size: 12px;
        line-height: 18px;
    }
    .footer-sec li i{
        margin-right: 10px;
        font-size: 15px;
    }
    .footer-sec p{
        font-size: 14px;
    }
    .logo{
        width: 120px;
    }
    .footer-copyright p{
        font-size: 12px;
    }
    .review-text{
        padding: 5px;
    }
    .review-text p{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .btn-review{
        font-size: 14px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .main{
        height: 60px;
    }
    .lang {
        display: none;
        margin-top: 30px
    }
    .lang ul li {
        width: 100%;
        text-align: left;
        background-color: #fff;
        margin-right: 0;
        padding-left: 15px
    }
    .lang ul li a {
        color: #000
    }
    .footer-sec li{
        font-size: 12px;
    }
    .footer-sec li a{
        font-size: 12px;
        line-height: 18px;
    }
    .footer-sec li i{
        margin-right: 10px;
        font-size: 15px;
    }
    .footer-sec p{
        font-size: 14px;
    }
    .logo{
        width: 120px;
    }
    .footer-copyright p{
        font-size: 12px;
    }
    .review-text{
        padding: 5px;
    }
    .review-text p{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .btn-review{
        font-size: 14px;
    }
    .flip-card{
        width: 100%;
        height: 330px;
    }
    .flip-card-back{
        height: 330px;
    }
}


@media (max-width:575px){
    .background-imgs{
        padding: 20px;
    }
    .background-imgs h1{
        font-size: 26px;
        margin-top: 20px;
    }
    .background-imgs h5{
        font-size: 16px;
    }
    .background-imgs::before{
        opacity: .6;
    }
    .background-imgs a{
        font-size: 18px;
    }
    .section-tittle h2{
        font-size: 24px;
        margin-top: 20px;
    }
    .about-area .about-caption .pera-top{
        font-size: 14px;
    }
    .about-btn{
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 5px;
        margin-top: 16px;
    }
    .title-heading h2{
        font-size: 24px;
    }
    .amenities figure{
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
    figure.effect-bubba h2{
        font-size: 24px;
    }
    .amenities figure figcaption{
        padding: 1rem;
    }
    figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after{
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    #owl-demo-8 .owl-prev,
    #owl-demo-9 .owl-prev{
        left: 34%;
    }
    .btn-branch a{
        margin-right: 0px;
        font-size: 10px;
    }
    .branch-box h4{
        font-size: 24px;
        margin-top: 10px;
    }
    .branch-box{
        margin-top: 20px;
    }
    .branch-box p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .branch-box a{
        font-size: 16px;
    }
    .review-box h4{
        top: 74%;
        left: 15%;
        font-size: 30px;
    }
    .google-review p{
        font-size: 14px;
    }
    .google-review{
        padding: 14px;
    }
    .review-text h4{
        font-size: 14px;
    }
    .review-text span{
        font-size: 12px;
    }
    .content-img{
        width: 45px;
        height: 45px;
    }
    .footer-test p{
        font-size: 16px;
    }
}


@media (min-width:576px) and (max-width:767px){
    .background-imgs{
        padding: 20px;
    }
    .background-imgs h1{
        font-size: 30px;
        margin-top: 30px;
    }
    .background-imgs h5{
        font-size: 16px;
    }
    .background-imgs::before{
        opacity: .6;
    }
    .background-imgs a{
        font-size: 18px;
    }
    .section-tittle h2{
        font-size: 24px;
        margin-top: 20px;
    }
    .about-area .about-caption .pera-top{
        font-size: 14px;
    }
    .about-btn{
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 5px;
        margin-top: 16px;
    }
    .title-heading h2{
        font-size: 24px;
    }
    .amenities figure{
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
    figure.effect-bubba h2{
        font-size: 40px;
    }
    .amenities figure figcaption{
        padding: 1rem;
    }
    .Workout-box h4{
        font-size: 40px;
        left: 21%;
    }
    figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after{
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    #owl-demo-8 .owl-prev,
    #owl-demo-9 .owl-prev{
        left: 42%;
    }
    .btn-branch a{
        margin-right: 0px;
        font-size: 12px;
    }
    .branch-box h4{
        font-size: 24px;
        margin-top: 10px;
    }
    .branch-box{
        margin-top: 20px;
    }
    .branch-box p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .branch-box a{
        font-size: 16px;
    }
    .review-box h4{
        top: 74%;
        left: 15%;
        font-size: 30px;
    }
    .google-review p{
        font-size: 14px;
    }
    .google-review{
        padding: 14px;
    }
    .review-text h4{
        font-size: 14px;
    }
    .review-text span{
        font-size: 12px;
    }
    .content-img{
        width: 45px;
        height: 45px;
    }
    .footer-test p{
        font-size: 16px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .background-imgs{
        padding: 20px;
    }
    .background-imgs h1{
        font-size: 30px;
        margin-top: 30px;
    }
    .background-imgs h5{
        font-size: 16px;
    }
    .background-imgs::before{
        opacity: .6;
    }
    .background-imgs a{
        font-size: 18px;
    }
    .section-tittle h2{
        font-size: 24px;
        margin-top: 20px;
    }
    .about-area .about-caption .pera-top{
        font-size: 14px;
    }
    .about-btn{
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 5px;
        margin-top: 16px;
    }
    .title-heading h2{
        font-size: 24px;
    }
    .amenities figure{
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
    figure.effect-bubba h2{
        font-size: 24px;
    }
    .amenities figure figcaption{
        padding: 1rem;
    }
    .Workout-box h4{
        font-size: 20px;
        left: 6%;
    }
    figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after{
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    #owl-demo-8 .owl-prev,
    #owl-demo-9 .owl-prev{
        left: 42%;
    }
    .btn-branch a{
        margin-right: 0px;
        font-size: 12px;
    }
    .branch-box h4{
        font-size: 24px;
        margin-top: 10px;
    }
    .branch-box{
        margin-top: 20px;
    }
    .branch-box p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .branch-box a{
        font-size: 16px;
    }
    .review-box h4{
        top: 74%;
        left: 15%;
        font-size: 30px;
    }
    .google-review p{
        font-size: 14px;
    }
    .google-review{
        padding: 14px;
    }
    .review-text h4{
        font-size: 14px;
    }
    .review-text span{
        font-size: 12px;
    }
    .content-img{
        width: 45px;
        height: 45px;
    }
    .footer-test p{
        font-size: 16px;
    }
    .contect-hading{
        margin-top: 25px;
    }
}